/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 56px;
}

body,
wrapper {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.container {
    width: auto;
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}