<form class="form-signin" method="post">
    <h1 class="h2 mb-2 font-weight-normal">脑淤血平台</h1><br><br><br>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="邮箱" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="登录"/>
    <a href="/signup">注册</a>
    <p class="mt-5 mb-3 text-muted">创建日： 2021-03-05</p>
</form>